.message-remind-wrap {
	position: relative;
	.message {
		background-color: white;
		position: relative;
		margin-left: 48rpx;
		margin-top: 20rpx;
		width: 668rpx;
		border-radius: 24rpx;
		.non-open-wrap {
			padding: 44rpx 0 0 30rpx;
			box-sizing: border-box;
			font-size: 36rpx;
			width: 602rpx;
			overflow: hidden;
			height: 262rpx;
			.remind {
				height: 54rpx;
				line-height: 54rpx;
			}
			.chat {
				margin-top: 16rpx;
				background-color: #F5F5F5;
				height: 122rpx;
				line-height: 122rpx;
				padding-left: 14rpx;
			}
			.title {
				color: rgba(87, 107, 149, 1);
			}
		}
	}
}